
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-image: url("/media/loginboi.png");
    background-size: cover;
}
.login_page{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 20% 2% 20% 2%;
    border: 2px solid white;

}
#login_hello{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 90px;
    font-style:oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.login_details{
    margin-bottom: 10px;
    margin-top: 25px;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
}
#l_username{
    margin-top: -2px;
}
.login_details i{
    font-size: 25px;
    color:white;
}
.login_text{
    width: 200px;
    height: 25px;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid rgb(247, 247, 252);
    font-size: 20px;
    font-weight: 500;
    background-color:transparent;
    color: white;
}
.login_text:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(247, 137, 12);
}
#login_button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#login_button{
    width: 100px;
    height: 30px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(34, 212, 34);
    border:1px solid white;
}
#login_button:hover{
    background-color:rgb(205, 243, 205) ;
    border:1px solid black;
    color: rgb(247, 137, 12);
    cursor: pointer;
}
#message{
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: rgb(235, 147, 14);
}
#Forget_signup{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-bottom: 20px;
}
.a1{
    text-decoration: none;
    font-weight: 700;
    color: rgb(240, 235, 248);
}
.a1:hover{
    color: rgb(247, 137, 12);
}
/* Registration form styling */
.reg-page{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 20% 2% 20% 2%;
    border: 2px solid white;

}
.reg-details{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.reg-details-radio{

    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    color: white;
}
#genderp{
    margin-left: 23px;
}
#dobp{
    margin-right: 55px;
}
#dob{
    margin-right: 57px;
}
#mob{
    margin-left: 40px;
}
#email{
    margin-left: 22px;
}
#password1{
    margin-left: 7px;
}
#password2{
    margin-left: 17px;
}
#reg-submit-botton{
    margin-left: 17px;
}
.ref-text{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 15px;
}
.ref-text:hover{
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgb(247, 137, 12);
}
.ref-p{
    font-weight: 700;
}
#reg-submit-botton{
    margin-top: 20px;
    height: 25px;
    width: 100px;
    background-color: rgb(34, 212, 34);
    border:1px solid white;
    border-radius: 20px;
}
#reg-submit-botton:hover{
    background-color:rgb(205, 243, 205) ;
    border:1px solid black;
    color: rgb(201, 21, 21);
    cursor: pointer;
}
input[type=radio]{
    accent-color: rgb(247, 137, 12);
}